# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
*.egg-info/

# Large audio data
data/raw/
data/external/
*.wav
*.mp3
*.flac
*.m4a

# Model checkpoints
checkpoints/
*.pt
*.pth
*.ckpt

# Cache / logs
.cache/
runs/
wandb/
*.log

# OS
.DS_Store
Thumbs.db
